
@{
    Layout = "";
}

@Styles.Render("~/Content/IndexCSS")
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Scripts/IndexScript")
<script src="~/Content/DatatableGrid/SWMGarbageGrid.js"></script>
@*<script src="~/Content/Custom/LoadZoneWardArea.js"></script>*@
<script src="~/Content/Custom/LoadZoneWardAreaPId.js"></script>

<body>
    <div class="container" style="padding-top:8px">
        <!--<div class="row">
        <div class="col-sm-2">
            <div class="controls">-->
        @*<label>तारखेपासून / From Date</label>*@
        <!--<label>From Date</label>
            <input id="txt_fdate" class="datepicker form-control form-control-sm" type="text" />
        </div>
    </div>
    <div class="col-sm-2">
        <div class="controls">-->
        @*<label>तारीख पर्यंत / To Date</label>*@
        <!--<label>To Date</label>
            <input id="txt_tdate" class="datepicker form-control form-control-sm" type="text" />
        </div>
    </div>
    <div class="col-sm-4">-->
        @*<label>कर्मचारी निवडा / Select Employee</label>*@
        <!--<label>Select Employee</label>
        <select id="selectnumber" class="form-control form-control form-control-sm"></select>
    </div>
    <div class="col-sm-4">-->
        @*<label>कर्मचारी निवडा / Select Employee</label>*@
        <!--<label>Select Zone</label>
        <select id="ZoneId" class="form-control form-control form-control-sm"></select>
    </div>
    <div class="col-sm-3">-->
        @*<label>कर्मचारी निवडा / Select Employee</label>*@
        <!--<label>Select Ward/Prabhag</label>
        <select id="WardNo" class="form-control form-control form-control-sm"></select>
    </div>
    <div class="col-sm-3">-->
        @*<label>कर्मचारी निवडा / Select Employee</label>*@
        <!--<label>Select Area</label>
        <select id="AreaId" class="form-control form-control form-control-sm"></select>
    </div>

    <div class="col-sm-3">
        <label>Select SWM Facility</label>
        <select id="SWMTypeid" class="form-control form-control form-control-sm" onchange="changeddl(this)">
            <option value="0">Select Facility Type</option>
            <option value="1">Transfer Station</option>
            <option value="2">Wet Waste Processing Facility</option>
            <option value="3">Dry Waste Processing Facility</option>
            <option value="4">C&D Waste Processing Facility</option>
            <option value="5">Incineration Facility For Domestic and Sanitary Waste Processing</option>
            <option value="6">Sanitary Landfill Facility</option>
            <option value="7">Legacy Waste Bioremediation Facility</option>
            <option value="8">Sewage Treatment Plant</option>
            <option value="9">Bulk Waste Generators For Onsite Wet Waste Processing</option>
        </select>
    </div>

    <div class="col-sm-3">-->
        @*<label>कर्मचारी निवडा / Select Employee</label>*@
        <!--<label>Select SWM Sub Facility</label>
            <select id="Segid" class="form-control form-control form-control-sm">
                <option value="0">Select Sub Facility</option>
                <option value="1">Municiple Solid Waste</option>
                <option value="2">Compost</option>
                <option value="3">Biogas</option>
                <option value="4">Biodigester Bottom Sludge</option>
                <option value="5">Refuse Derived Fuel</option>
                <option value="6">Plastics</option>
                <option value="7">Metal And Glass</option>
                <option value="8">Cardboards</option>
                <option value="10">Soil</option>
                <option value="11">Sand</option>
                <option value="12">Less Than 8mm Aggregates</option>
                <option value="13">8-16mm Aggregates</option>
                <option value="14">Greater Than 18mm Aggregates</option>
                <option value="15">Manufactured Goods(Bricks,Tiles,etc.)</option>
                <option value="16">Fly Ash</option>
                <option value="17">Sand and Soil</option>
                <option value="18">Dried Sludge</option>
                <option value="19">Treated Wastewater</option>
                <option value="20">Sanitary Landfill Facility</option>
                <option value="9">Any Other Veriety</option>

            </select>
        </div>



    </div>-->

        <div class="row">
            <div class="col-sm-2">
                <div class="controls">
                    @*<label>तारखेपासून / From Date</label>*@
                    <label>From Date</label>
                    <input id="txt_fdate" class="datepicker form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="controls">
                    @*<label>तारीख पर्यंत / To Date</label>*@
                    <label>To Date</label>
                    <input id="txt_tdate" class="datepicker form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-sm-3">
                @*<label>कर्मचारी निवडा / Select Employee</label>*@
                <label>Select Employee</label>
                <select id="selectnumber" class="form-control form-control form-control-sm"></select>
            </div>
            <div class="col-sm-2">
                @*<label>कर्मचारी निवडा / Select Employee</label>*@
                <label>Select Zone</label>
                <select id="ZoneId" class="form-control form-control form-control-sm"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        @*<label>कर्मचारी निवडा / Select Employee</label>*@
                        <label>Select Prabhag</label>
                        <select id="PrabhagNo" class="form-control form-control form-control-sm"></select>
                    </div>
                    <div class="col-sm-4">
                        @*<label>कर्मचारी निवडा / Select Employee</label>*@
                        <label>Select Ward</label>
                        <select id="WardNo" class="form-control form-control form-control-sm"></select>
                    </div>
                    <div class="col-sm-4">
                        @*<label>कर्मचारी निवडा / Select Employee</label>*@
                        <label>Select Area</label>
                        <select id="AreaId" class="form-control form-control form-control-sm"></select>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <label>Select SWM Facility</label>
                <select id="SWMTypeid" class="form-control form-control form-control-sm" onchange = "changeddl(this)">
                    <option value="0">Select Facility Type</option>
                    <option value="1">Transfer Station</option>
                    <option value="2">Wet Waste Processing Facility</option>
                    <option value="3">Dry Waste Processing Facility</option>
                    <option value="4">C&D Waste Processing Facility</option>
                    <option value="5">Incineration Facility For Domestic and Sanitary Waste Processing</option>
                    <option value="6">Sanitary Landfill Facility</option>
                    <option value="7">Legacy Waste Bioremediation Facility</option>
                    <option value="8">Sewage Treatment Plant</option>
                    <option value="9">Bulk Waste Generators For Onsite Wet Waste Processing</option>
                </select>
            </div>

                    <div class="col-sm-6">
                        @*<label>कर्मचारी निवडा / Select Employee</label>*@
                        <label>Select SWM Sub Facility</label>
                        <select id="Segid" class="form-control form-control form-control-sm">
                            <option value="0">Select Sub Facility</option>
                            <option value="1">Municiple Solid Waste</option>
                            <option value="2">Compost</option>
                            <option value="3">Biogas</option>
                            <option value="4">Biodigester Bottom Sludge</option>
                            <option value="5">Refuse Derived Fuel</option>
                            <option value="6">Plastics</option>
                            <option value="7">Metal And Glass</option>
                            <option value="8">Cardboards</option>
                            <option value="10">Soil</option>
                            <option value="11">Sand</option>
                            <option value="12">Less Than 8mm Aggregates</option>
                            <option value="13">8-16mm Aggregates</option>
                            <option value="14">Greater Than 18mm Aggregates</option>
                            <option value="15">Manufactured Goods(Bricks,Tiles,etc.)</option>
                            <option value="16">Fly Ash</option>
                            <option value="17">Sand and Soil</option>
                            <option value="18">Dried Sludge</option>
                            <option value="19">Treated Wastewater</option>
                            <option value="20">Sanitary Landfill Facility</option>
                            <option value="9">Any Other Veriety</option>

                        </select>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-2  offset-md-10" style="text-align:right">
                <div class="controls">
                    <input data-background-color="filter-button-box-color" style="margin-top:8px;" class="btn btn-sm btn-primary filter-button-style" type="button" value="Filter Records" id="filter" onclick="Search()" />
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <br />
        <div style="width:100%; margin:0 auto;">
            <label style="display:inline-flex" class="float-right">Search:&nbsp;<input type="text" id="s" class="form-control form-control-sm" onkeyup="Search()"></label>
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    @*<tr>
                            <th>ID</th>
                            <th>तारीख / Date</th>
                            <th>कर्मचारी / Employee</th>
                            <th>घर आयडी /  House ID</th>
                            <th>घर मालक / House Owner</th>
                            <th>पत्ता /Collection Address</th>
                            <th>वाहन क्रमांक / Vehicle Number</th>
                            <th>टिप्पणी / Comment </th>
                            <th>पूर्व फोटो / Before Image </th>
                            <th>नंतर फोटो / After Image </th>
                            <th>वर्गीकरणाचे प्रकार / Segregated Type </th>
                            <th>बॅटरीची स्थिती / Battery Status </th>
                        </tr>*@
                    <tr>
                        <th>ID</th>
                        <th> Date</th>
                        <th> Employee</th>
                        <th> Facility Type </th>
                        <th> SWM Nme </th>
                        <th> Collection Address</th>
                        <th> Vehicle Number</th>
                        <th> Comment </th>
                        <th> Before Image </th>
                        <th> After Image </th>
                        <th> SWM ID</th>
                        <th> Battery Status </th>
                        <th> gcDate </th>
                        <th> Level Of Segregation </th>
                        <th>Type</th>
                        <th>Prabhag Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="myModal_Image" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="header_data" class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    <center>
                        <img class="img-responsive" id="imggg" alt="Photo Not Found">
                        <br />
                        <p> <b id="hide_date">Date: </b><span id="dateData"></span></p>
                        <p> <b id="hide_add">Address: </b><span id="latlongData"></span></p>
                    </center>

                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        @*<a href="~/Images/Nagpur/Job/download.pdf" class="btn btn-default" download>Download</a>*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="snackbar">Image not uploaded...</div>
</body>
</html>

<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = day + "/" + month + "/" + year;

    document.getElementById('txt_fdate').value = today;
    document.getElementById('txt_tdate').value = today;


</script>
<script src="~/Content/graph-assets/js/custom.js"></script>
<script src="~/Content/css/datepicker/js/datepicker.js"></script>
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        weekStart: 1,
        color: 'red',
        pickTime: false
    }).on('changeDate', function (e) {

        $(this).datepicker('hide');

    });
    //hide  show on hover
    $('#txt_fdate').focus(function () {
        $('.dtpk_drpdwn').eq(1).hide();
    });
    $('#txt_tdate').focus(function () {
        $('.dtpk_drpdwn').eq(0).hide();
    });
</script>

<script>

    function changeddl(obj) {
        debugger;
        var text = obj.options[obj.selectedIndex].text;
        var ddl2 = document.querySelectorAll('#Segid option');
        const $select = document.querySelector('#Segid');
        $select.value = 0

        for (var i = 1; i < ddl2.length; i++) {
            var option = ddl2[i];
            option.style.display = 'none';
            if (text == 'Select Facility Type') {

                option.style.display = 'none'

            }
            if (text == 'Transfer Station') {
                if (['Municiple Solid Waste'].indexOf(option.text) > -1)
                    option.style.display = 'block'

            }
            if (text == 'Wet Waste Processing Facility') {
                if (['Compost', 'Biogas', 'Biodigester Bottom Sludge'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Dry Waste Processing Facility') {
                if (['Refuse Derived Fuel', 'Plastics', 'Metal And Glass', 'Cardboards', 'Any Other Veriety'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'C&D Waste Processing Facility') {
                if (['Soil', 'Sand', '<8mm Aggregates', '>16mm Aggregates', 'Manufactured Goods(Bricks,Tiles,etc.)'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Incineration Facility For Domestic and Sanitary Waste Processing') {
                if (['Fly Ash'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Sanitary Landfill Facility') {
                if (['Sanitary Landfill Facility'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Legacy Waste Bioremediation Facility') {
                if (['Refuse Derived Fuel', 'Sand and Soil', '<8mm Aggregates', '8-16mm Aggregates', '>16mm Aggregates'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Sewage Treatment Plant') {
                if (['Dried Sludge', 'Treated Wastewater'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
            if (text == 'Bulk Waste Generators For Onsite Wet Waste Processing') {
                if (['Compost', 'Biogas', 'Biodigester Bottom Sludge'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
        }
    }

</script>
